* {
    padding: 0;
    margin: 0;
}

#logo{
    font-size: 28px;
    color:black;
    text-decoration: none;
}

h1{
    font-size: 40px;
    margin-bottom: 24px;
}

p{
    font-size: 16px;
}

header{
    height: 64px;
    border-bottom: 1px solid rgb(123, 122, 122);
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



#navlist{
    list-style-type: none;
    display : flex;
    flex-direction : row;
    gap : 24px;
}

.navlinks{
    color:gray;
    text-decoration: none;
    font: 16px;
}

img{
    width: 50%;
}

#section1{
    display : flex;
    flex-direction : row;
    justify-content : space-between;  
    align-items : center;
}

#section1Links{
    margin: 32px;
}

.primarylink{
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
}

#secondarylink{
    text-decoration: none;
}

